@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
	margin: 0;
	padding: 0;
  font-family: 'Montserrat';
}
.dashboard{
  background-color: #24262E;
  color: #7B8189;
  height: 100vh;

  main{
    display: flex;
    height: 100%;
  }
}
