//COLORS
//  dashboard
$dsb-background: #24262E;
$font-color: #7B8189;
$cp-background: #2f323d;
$cp-title: #F47C6D;

// tags
$tag-background: rgba($color: #000000, $alpha: 0.6);

//FONT
//  weight
$normal: 200;
$bold: 800;

//  size
$font-small: 9px;
$font-normal: 12px;
$font-medium: 16px;
$font-big: 20px;
$font-title: 40px;
