//COLORS
//  dashboard
$ct-background: #2A2D36;
$dsb-background: #24262E;
$font-color: #7B8189;
$cp-background: #2f323d;
$cp-title: #F47C6D;
$dsb-a-hover: #F47C6D;
$dsb-a: #f0a095;
$item-background: #2A2D36;

// tags
$tag-background: rgba($color: #000000, $alpha: 0.6);

//FONT
//  weight
$normal: 200;
$bold: 800;

//  size
$font-small: 9px;
$font-normal: 12px;
$font-medium: 16px;
$font-big: 20px;
$font-title: 40px;

.flex{
  display: flex;
  &.center{
    align-items: center;
    justify-content: center;
  }
  &.space-between{
    align-items: flex-start;
    justify-content: space-between;
  }
}

a{
  color: $dsb-a;

  &:hover {
    color: $dsb-a-hover;
  }
}

.w100{
  width: 100%;
}

.w70{
  width: 69%;
}

.w60{
  width: 59%;
}

.w50{
  width: 49%;
}

.w40{
  width: 39%;
}

.w30{
  width: 29%;
}
