@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "../../theme/theme.scss";

div#draggableArea{
    height: auto;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
div.component{
    margin-top: 20px;
    background-color: $cp-background;
    padding: 15px;
    cursor: grab;
}
