@import "../../theme/theme.scss";

section.content{
  background-color: $ct-background;
  height: 100%;
  position: relative;
  transition: 1s;
  width: 1rem;
  padding: 0px 15px;
  
  div {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  &:hover{
    div {
      visibility: visible;
      opacity: 1;
    }
    transition: 1s;
    width: 17rem;
  }

  footer{ 
    position: absolute;
    bottom:0;
  }

}
