@import "../../theme/theme.scss";

section.content{
  background-color: $ct-background;
  height: 100%;
  position: relative;
  transition: 1s;
  width: 1rem;
  padding: 0px 15px;

  div.more-info {
    top:33px;
    left: 0px;
    position: absolute;
    visibility: visible;
    cursor: pointer;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    writing-mode: vertical-lr; 
    width: 32px;
    height: 112px;
    padding: 5px;
    background-color: $info-background;
    color: $dsb-background;
    font-weight: $bold;
  }
  
  div {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  &:hover{
    div.more-info {
      visibility: hidden;
      opacity: 0;
    }
    div {
      visibility: visible;
      opacity: 1;
    }
    transition: 1s;
    width: 17rem;
  }

  footer{ 
    position: absolute;
    bottom:0;
  }

}
